---
name: Build Snapshot
on:
  workflow_dispatch:

permissions:
  contents: read
jobs:
  snapshot:
    name: Build Snapshot
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Set up Go
        uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v6.2.0
        with:
          go-version-file: go.mod

      - name: Run GoReleaser
        uses: goreleaser/goreleaser-action@e435ccd777264be153ace6237001ef4d979d3a7a # v6.4.0
        with:
          version: latest
          args: release --snapshot

      - name: Publish Snapshots
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        if: ${{ github.event.inputs.publish == 'true' }}
        with:
          name: snapshots-${{ github.sha }}
          path: |
            dist/*checksums.txt
            dist/*.tar.gz
          retention-days: 7
